body {
	margin: 0;
	padding: 0;
}
.main {
	margin: auto;
	width: 50vw;
	height: 100vh;
	/* background: rgba(12, 12, 12, 0.5); */
}
header {
	width: 100%;
	height: 20%;
	background: rgba(0, 128, 0, 0.5);
	display: flex;
	align-items: center;
	justify-content: space-around;
	position: relative;
}
.container {
	width: 15%;
	height: 60%;
	/* background: rgba(12, 12, 12, 0.5); */
	display: block;
	font-size: 5rem;
	text-align: center;
}
.text {
	background-image: linear-gradient(45deg, #f3ec78, #af4261);
	color: transparent;
	-webkit-background-clip: text;
	background-clip: text;
}
aside {
	float: right;
	width: 20%;
	height: 70%;
	background: rgba(153, 205, 50, 0.5);
}
section {
	float: left;
	width: 80%;
	height: 70%;
	background: rgba(255, 217, 0, 0.5);
}
footer {
	clear: both;
	width: 100%;
	height: 10%;
	background: rgba(12, 12, 12, 0.5);
}
